* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 100px;
}


.content {
    position: relative;
}

.content img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.col-15 {
    width: calc(100% / 7);
    padding: 10px 5px;
}


/* style class */

body {
    background-color: black;
}

.button {
    padding: 5px;
    background-color: #4A4A4A;
    border-radius: 5px;
    margin-right: 5px;
}


.ft-white {
    color: #fff;
}

.ft-green {
    color: #4CC900;
}

.bg-grey {
    background-color: #222222;
    padding: 20px;
}

img {
    position: relative;
}

/* utilities */
.mg-top {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.username {
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    padding: 5px;
    background-color: #4a4a4aa2;
}

.pd-top {
    padding-top: 10px;
}


footer {
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    text-align: center;
    padding-left: 20px;
}

#end-meeting {
    color: red;
    border: none;
    background-color: #4A4A4A;
    padding: 40px 20px;
}