* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    position: relative;
}

.content img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.col-15 {
    width: calc(100% / 7);
    padding: 10px;
}

.col-33 {
    width: calc(100% / 3);
}

/* style class */

body {
    background-color: #0E0E0E;
}

.button {
    padding: 5px;
    background-color: #4A4A4A;
    border-radius: 5px;
    margin-right: 5px;
}

.ft-white {
    color: #fff;
}

img {
    position: relative;
}

/* utilities */
.mg-top {
    margin-top: 50px;
}

.username {
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    padding: 5px;
    background-color: #4a4a4aa2;
}